#id1{color: red}
#id2{color: blue}
#id3{color: green}
#id4{font-size: 30px}
#id5{font-size: 8px}
#id6{text-align: center;}
#id7{font-weight: bold;}
#id8{font-family: verdana;}
#id9{font-weight: bold;color: orange; font-size: 30px;}
.styledFont{color: green; font-family: calibri}
#id10{font-size: 10px}
#styledImage{border: 4px solid orange;}